aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
aiosqlite==0.22.1
alembic==1.18.4
amplitude-analytics==1.2.2
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
apprise==1.9.9
asgi-lifespan==2.1.0
astroid==4.0.4
asyncpg==0.31.0
attrs==26.1.0
beartype==0.22.9
beautifulsoup4==4.14.3
boto3-stubs==1.42.77
botocore-stubs==1.42.41
brotli==1.2.0
cachetools==7.0.5
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
click==8.3.1
cloudpickle==3.1.2
colorama==0.4.6
coolname==4.1.0
cronsim==2.7
cryptography==46.0.5
cyclopts==4.10.1
dataclasses-json==0.6.7
dateparser==1.3.0
dill==0.4.1
distro==1.9.0
docker==7.1.0
docstring-parser==0.17.0
docutils==0.22.4
exceptiongroup==1.3.1
fakeredis==2.34.1
fastapi==0.135.2
fastembed==0.8.0
fastuuid==0.14.0
ffmpy==1.0.0
filelock==3.25.2
flatbuffers==25.12.19
frozenlist==1.8.0
fsspec==2026.2.0
gradio==6.10.0
gradio-client==2.4.0
graphviz==0.21
greenlet==3.3.2
griffe==2.0.1
griffecli==2.0.1
griffelib==2.0.1
groovy==0.1.2
grpcio==1.78.0
h11==0.16.0
h2==4.3.0
hf-gradio==0.3.0
hf-xet==1.4.2
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.3
huggingface-hub==1.8.0
humanize==4.15.0
hyperframe==6.1.0
idna==3.11
importlib-metadata==8.7.1
iniconfig==2.3.0
isort==8.0.1
jinja2==3.1.6
jinja2-humanize-extension==0.4.0
jiter==0.13.0
jsonpatch==1.33
jsonpointer==3.1.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
langchain==1.2.13
langchain-classic==1.0.3
langchain-community==0.4.1
langchain-core==1.2.22
langchain-openai==1.1.12
langchain-text-splitters==1.1.1
langgraph==1.1.3
langgraph-checkpoint==4.0.1
langgraph-prebuilt==1.0.8
langgraph-sdk==0.3.12
langsmith==0.7.22
librt==0.8.1
litellm==1.82.6
loguru==0.7.3
lupa==2.6
lxml==6.0.2
mako==1.3.10
markdown==3.10.2
markdown-it-py==4.0.0
markdownify==1.2.2
markupsafe==3.0.3
marshmallow==3.26.2
mccabe==0.7.0
mdurl==0.1.2
mmh3==5.2.1
mpmath==1.3.0
multidict==6.7.1
mypy==1.19.1
mypy-boto3-bedrock-runtime==1.42.42
mypy-extensions==1.1.0
numpy==2.4.3
oauthlib==3.3.1
onnxruntime==1.24.4
openai==2.30.0
opentelemetry-api==1.40.0
opik==1.10.52
orjson==3.11.7
ormsgpack==1.12.2
packaging==26.0
pandas==3.0.1
pathspec==1.0.4
pendulum==3.2.0
perfect==0.0.1
pillow==12.1.1
platformdirs==4.9.4
pluggy==1.6.0
portalocker==3.2.0
prefect==3.6.23
prometheus-client==0.24.1
propcache==0.4.1
protobuf==7.34.1
psutil==7.2.2
psycopg2==2.9.11
py-key-value-aio==0.4.4
py-rust-stemmers==0.1.5
pycparser==3.0
pydantic==2.12.5
pydantic-core==2.41.5
pydantic-extra-types==2.11.1
pydantic-settings==2.13.1
pydocket==0.18.2
pydub==0.25.1
pygments==2.19.2
pylint==4.0.5
pytest==9.0.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-json-logger==4.0.0
python-multipart==0.0.22
python-slugify==8.0.4
pytz==2026.1.post1
pyyaml==6.0.3
qdrant-client==1.17.1
rapidfuzz==3.14.3
readchar==4.2.1
redis==7.4.0
referencing==0.37.0
regex==2026.2.28
requests==2.32.5
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rich==14.3.3
rich-rst==1.3.2
rpds-py==0.30.0
ruamel-yaml==0.19.1
ruamel-yaml-clib==0.2.15
ruff==0.15.7
safehttpx==0.1.7
semantic-version==2.10.0
semver==3.0.4
sentry-sdk==2.56.0
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8.3
sqlalchemy==2.0.48
starlette==0.52.1
stubs==1.0.0
sympy==1.14.0
tenacity==9.1.4
text-unidecode==1.3
tiktoken==0.12.0
tokenizers==0.22.2
toml==0.10.2
tomlkit==0.13.3
tqdm==4.67.3
typer==0.24.1
types-awscrt==0.31.3
types-s3transfer==0.16.0
typing-extensions==4.15.0
typing-inspect==0.9.0
typing-inspection==0.4.2
tzdata==2025.3
tzlocal==5.3.1
uncalled-for==0.2.0
urllib3==2.6.3
uuid-utils==0.14.1
uuid6==2025.0.1
uvicorn==0.42.0
websockets==16.0
xxhash==3.6.0
yarl==1.23.0
zipp==3.23.0
zstandard==0.25.0
